.onboarding-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.onboarding-title{
    font-size: 1.1rem;
    font-weight: 600;
}

.onboarding-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #8080c0;
    border-radius: 5px;
    padding: 1rem;
    height: auto;
    max-width: 400px;
}

.finish-onboarding-btn{
    background-color: #8080c0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.6ms ease-in-out;
    cursor: pointer;
}

.finish-onboarding-btn:hover{
    background-color: #565281;
}